
body {
	background-color: #fff;
	font-family: "Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;
}

#video {
	background-color: #efefef;
	width: 520px;
	margin: 50px auto;
	border: 2px solid #fff;
	outline: 1px solid #ccc;
	text-align: left;
	text-align: center;
}

.less {
	color: #999;
	font-size: 12px;
}

a {
	color: #295c72;
}
